//Base color
$baseFontColor: $rollingStone;

//Nav color
$navFontColor: $scorpion;
$headerBackground: rgba($swamp, .1);

//Blocks color
$contentFontColor: $silverChalice;
$yearFontColor: $gray;

//Title color
$titleFontColor: $black;
$titleConcertColor: linear-gradient( to bottom, $hippieBlue, $gulfStream);


$compositionBgColor: $blackHaze;

//Button
$borderButtonColor: $silverSand;
$songInfoButtonColor: $edward;